a, a:visited {
  color: #003569;
  text-decoration: none;
}

a.click {
  color: #262626;
}

.click {
  border-top: 1px solid #262626;
}

.mypage-article {
  box-sizing: content-box;
  padding: 60px 20px 0;
  width: calc(100% - 40px);
  flex-grow: 1;
  margin: 0 auto 30px;
  max-width: 935px;
}

.mypage-profile {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 44px;
}

.profile-photo-container {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 30px;
}

.profile-photo {
  display: block;
  height: 152px;
  width: 152px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fafafa;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.profile-photo-btn {
  height: 100%;
  width: 100%;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.profile-photo-img {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.profile-photo-input {
  display: none !important;
}

.profile-info-container {
  -webkit-flex-basis: 30px;
  -ms-flex-preferred-size: 30px;
  flex-basis: 30px;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  color: #262626;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  min-width: 0;
}

.profile-info-title {
  margin-bottom: 20px;
  flex-direction: row;
}

.nick-h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.profile-edit-a {
  margin-left: 20px;
  background: 0 0;

}

.profile-edit-btn {
  background: 0 0;
  color: #262626;

  padding: 0 24px;
  -webkit-appearance: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  border: 1px solid #dbdbdb;
  color: #262626;
}

.profile-info-follow {
  padding: 0;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.info-follow-elem:first-child {
  margin-left: 0;
}

.info-follow-elem {
  font-size: 16px;
  margin-right: 40px;
  display: block;
}

.profile-info-follow-number {
  color: #262626;
  font-weight: 600;
}

.profile-info-desc {
  font-size: 16px;
  line-height: 24px;
  display: block;
}

.name-h1 {
  display: inline;
  font-weight: 600;
}

.mypage-nav {
  border-top: 1px solid #efefef;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 12px;
  font-weight: 600;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  letter-spacing: 1px;
  text-align: center;
}

.nav-a {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 52px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 60px;
}

.content-container {
  flex-direction: row;
}

.content {
  display: block;
  position: relative;
  width: 100%;
  margin-right: 28px;
  flex: 1 0 0%;
}
